  <!-- Main Header-->
  <header class="main-header" >
    <!-- Main box -->
    <div class="main-box">
        <div class="menu-box">
            <div class="logo"><a routerLink="/"><img src="assets/images/logo.png" alt="" title=""
                        srcset="assets/images/logo-white-big.png 2x"></a></div>

            <!--Nav Box-->
            <div class="nav-outer">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li class="current">
                                <a routerLink="/"><span>home</span></a>
                            </li>
                            <li class=" dropdown">
                                <a routerLink="/services"><span>Services</span></a>
                                <ul>
                                    <li><a routerLink="/smart-lighting">Smart Lighting</a></li>
                                    <li><a routerLink="/surveillance-security">Surveillance and Security</a></li>
                                    <li><a routerLink="/energy-management">Energy Management</a>
                                    <li><a routerLink="/smart-garden">Smart Garden</a></li>
                                    <li><a routerLink="/climate-control">Climate Control</a></li>
                                    <li><a routerLink="/water-management">Water Management</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li><a routerLink="/contact">Contacts</a></li>
                            <li class=" dropdown">
                              <a routerLink="/shop"><span>Shop</span></a>
                              <ul>
                                  <li><a routerLink="/shop">Shop</a></li>
                                  <li><a routerLink="/cart">Cart</a></li>
                                  <li><a routerLink="/checkout">Checkout</a>

                              </ul>
                          </li>
                            <li><a routerLink="/price-calculator">Price Calculator</a></li>

                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
            </div>
        </div>
    </div>

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="outer-box">
            <!--Logo-->
            <div class="logo">
                <a routerLink="#" title="Sticky Logo"><img src="assets/images/sticky-logo.png" alt="Sticky Logo"></a>
            </div>

            <!--Nav Outer-->
            <div class="nav-outer">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->

    <!-- Mobile Header -->
    <div class="mobile-header">
        <div class="logo"><a routerLink="index.html"><img src="assets/images/logo.png" alt="" title=""
                    srcset="assets/images/logo-white-big.png 2x"></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">
            <!--Keep This Empty / Menu will come through Javascript-->
        </div>
    </div>

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <nav class="menu-box">
            <div class="nav-logo"><a routerLink="index.html"><img src="assets/images/logo.png" alt="" title=""
                        srcset="assets/images/logo-white-big.png 2x"></a></div>
        </nav>
    </div><!-- End Mobile Menu -->

</header>
<!--End Main Header -->
