<!--Page Title-->
<section class="page-title">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg" style="background-image: url(assets/userAssets/images/background/37.jpg)">
            <div class="cws-overlay-bg"></div>
        </div>
    </div>

    <div class="auto-container">
        <h1>Checkout</h1>
        <ul class="page-breadcrumb">
            <li><a routerLink="/">Home</a></li>
            <li>Checkout</li>
        </ul>
    </div>
</section>
<!--End Page Title-->

<!--CheckOut Page-->
<section class="checkout-page">
    <div class="auto-container">
        <!--Default Links-->
        <div class="default-links">
            <div class="message-box with-icon success">
                <div class="icon-box"><span class="icon fa fa-check"></span></div>
                <p>Have a coupon?</p>
                <h4><a routerLink="#">Click here to enter your code</a></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <!--Checkout Details-->
                <div class="checkout-form">
                    <form>
                        <div class="row clearfix">
                            <!--Column-->
                            <div class="column col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="sec-title">
                                        <h3>Billing details</h3>
                                    </div>
                                    <!-- Checkbox: Use Default Address -->
                                    <div class="form-group">
                                        <input type="checkbox" [(ngModel)]="isDefaultChecked"
                                            (change)="toggleDefaultAddress()" name="useDefault">
                                        <label>Use my saved address</label>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group">
                                        <div class="field-label">Full name <sup>*</sup></div>
                                        <input type="text" name="full-name"  value="" placeholder="">
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group">
                                        <div class="field-label">Phone</div>
                                        <input type="text" name="field-name" value="" placeholder="">
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group">
                                        <div class="field-label">Email Address</div>
                                        <input type="text" name="field-name" value="" placeholder="">
                                    </div>

                                   <!-- Address Fields -->
                        <div class="form-group">
                            <label>Street Address *</label>
                            <input type="text" [(ngModel)]="checkoutData.street" name="street" required>
                        </div>
                        <div class="form-group">
                            <label>City *</label>
                            <input type="text" [(ngModel)]="checkoutData.city" name="city" required>
                        </div>
                        <div class="form-group">
                            <label>State *</label>
                            <input type="text" [(ngModel)]="checkoutData.state" name="state" required>
                        </div>
                        <div class="form-group">
                            <label>Postal Code *</label>
                            <input type="text" [(ngModel)]="checkoutData.postalCode" name="postalCode" required>
                        </div>
                        <div class="form-group">
                            <label>Country *</label>
                            <input type="text" [(ngModel)]="checkoutData.country" name="country" required>
                        </div>


                                </div>
                            </div>


                        </div>
                    </form>
                </div>
                <!--End Checkout Details-->
            </div>
            <div class="col-lg-6">
                <!--Order Box-->
                <div class="order-box">
                    <div class="sec-title">
                        <h3>Your order</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th class="product-name">Product</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cartItems" class="cart-item">
                                <td class="product-name">
                                    {{ item.productName }} &nbsp;
                                    <strong class="product-quantity">× {{ item.quantity }}</strong>
                                </td>
                                <td class="product-total">
                                    <span class="amount">Rs. {{ item.price * item.quantity }}</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="amount">Rs. {{ subtotal }}</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong class="amount">Rs. {{ total }}</strong> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!--End Order Box-->
            </div>
        </div>




        <!--Payment Box-->
        <div class="payment-box">
            <div class="upper-box">
                <!--Payment Options-->
                <div class="payment-options">
                    <ul>
                        <li>
                            <div class="radio-option">
                                <input type="radio" name="payment-group" id="payment-2" checked>
                                <label for="payment-2"><strong>Direct Bank Transfer</strong><span
                                        class="small-text">Make your payment directly into our bank account. Please use
                                        your Order ID as the payment reference. Your order won’t be shipped until the
                                        funds have cleared in our account.</span></label>
                            </div>
                        </li>
                        <li>
                            <div class="radio-option">
                                <input type="radio" name="payment-group" id="payment-1">
                                <label for="payment-1"><strong>Check Payments</strong><span class="small-text">Make your
                                        payment directly into our bank account. Please use your Order ID as the payment
                                        reference. Your order won’t be shipped until the funds have cleared in our
                                        account.</span></label>
                            </div>
                        </li>

                        <li>
                            <div class="radio-option">
                                <input type="radio" name="payment-group" id="payment-3">
                                <label for="payment-3"><strong>Cash on Delivery</strong><span class="small-text">Make
                                        your payment directly into our bank account. Please use your Order ID as the
                                        payment reference. Your order won’t be shipped until the funds have cleared in
                                        our account.</span></label>
                            </div>
                        </li>
                    </ul>
                    <div class="text">Your personal data will be used to process your order, support your experience
                        throughout this website, and for other purposes described in our <a routerLink="#">privacy
                            policy.</a></div>
                </div>
            </div>
            <div class="lower-box">
                <a (click)="placeOrder()" class="theme-btn"><span class="btn-title">Place Order</span></a>
            </div>
        </div>
        <!--End Payment Box-->
    </div>
</section>
<!--End CheckOut Page-->