<!--Page Title-->
<section class="page-title">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg" style="background-image: url(assets/images/background/37.jpg)">
            <div class="cws-overlay-bg"></div>
        </div>
    </div>

    <app-breadcrumbs></app-breadcrumbs>

</section>
<!--End Page Title-->
@if (isLoading) {
<div class="spinner-overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}

@if (showAlert) {
<div class="alert alert-dismissible fade show center-alert"
    [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
    {{ alertMessage }}
    <button type="button" class="btn-close" aria-label="Close" (click)="closePopupMsg()"></button>
</div>
}

<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="our-shop no-padding style-two">
                    <div class="shop-upper-box clearfix">
                        <div class="items-label">Showing all {{ wishListProduct.length }} results</div>
                        <div class="orderby">
                            <select name="orderby" class="sortby-select" (change)="sortWishlist($event)">
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                              </select>
                              
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="shop-item col-lg-3 col-md-6 col-sm-12" *ngFor="let wishlist of wishListProduct">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image">
                                        <a>
                                            <img src="assets/images/resource/item-thumb-1.jpg">
                                        </a>
                                    </figure>


                                </div>
                                <div class="lower-content">
                                    <h4 class="name">
                                        <a>{{ wishlist.product.name }}</a>
                                    </h4>
                                    <div class="price">Rs. {{ wishlist.product.price }}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

           
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->