   <!--Main Slider-->
   <section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_four_wrapper"
        data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_four" data-version="5.4.1">
            <ul>

                <!-- SLIDE  -->
                <li data-index="rs-18" data-transition="zoomout" data-slotamount="default"
                    data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                    data-easeout="default" data-masterspeed="850" data-thumb="" data-delay="5999"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                    data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                    data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="assets/userAssets/images/main-slider/pattern/4.jpg" alt="" title="Product Page"
                        data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                        class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme" id="slide-18-layer-40" data-x="100" data-y="center"
                        data-voffset="-70" data-width="['none','none','none','none']"
                        data-height="['none','none','none','none']" data-type="image"
                        data-responsive_offset="on"
                        data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="assets/userAssets/images/background/water-1.png"
                            alt="" data-ww="688px" data-hh="686px" width="688" height="686" data-no-retina>
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption rev-btn  tp-resizeme" id="slide-18-layer-36" data-x="930"
                        data-y="center" data-voffset="100" data-width="['auto']" data-height="['auto']"
                        data-visibility="['on','on','off','off']" data-type="button"
                        data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"700","ease":"Linear.easeNone"}]'
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(250,49,56,1);bg:rgba(255,255,255,1)"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[20,20,20,20]" data-paddingright="[50,50,50,50]"
                        data-paddingbottom="[20,20,20,20]" data-paddingleft="[50,50,50,50]"
                        style="z-index: 6; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1);font-family:Montserrat;background-color:rgba(250,49,56,1);border-color:rgba(250,49,56,1);border-style:solid;border-width:0px 0px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        EXPLORE VIDEO SERVICES </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme" id="slide-18-layer-38" data-x="930" data-y="center"
                        data-voffset="-130" data-width="['auto']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 7; white-space: nowrap; font-size: 72px; line-height: 72px; font-weight: 800; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">
                        Smart Water <br>Management System </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme" id="slide-18-layer-39" data-x="930" data-y="center"
                        data-voffset="" data-width="['auto']" data-height="['auto']"
                        data-visibility="['on','on','off','off']" data-type="text" data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 8; white-space: nowrap; font-size: 24px; line-height: 40px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                        Revolutionize your water usage with advanced water management solutions. <br>Monitor, conserve, and optimize water consumption with cutting-edge technology. </div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-19" data-transition="zoomout" data-slotamount="default"
                    data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                    data-easeout="default" data-masterspeed="850" data-thumb="" data-delay="5999"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                    data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                    data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="assets/userAssets/images/main-slider/pattern/4.jpg" alt="" title="Product Page"
                        data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                        class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme" id="slide-19-layer-40" data-x="200" data-y="center"
                        data-voffset="-50" data-width="['none','none','none','none']"
                        data-height="['none','none','none','none']" data-type="image"
                        data-responsive_offset="on"
                        data-frames='[{"delay":250,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="assets/userAssets/images/background/water.png"
                            alt="" data-ww="584px" data-hh="688px" width="584" height="688" data-no-retina>
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption rev-btn  tp-resizeme" id="slide-19-layer-36" data-x="930"
                        data-y="center" data-voffset="100" data-width="['auto']" data-height="['auto']"
                        data-visibility="['on','on','off','off']" data-type="button"
                        data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"700","ease":"Linear.easeNone"}]'
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(250,49,56,1);bg:rgba(255,255,255,1)"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[20,20,20,20]" data-paddingright="[50,50,50,50]"
                        data-paddingbottom="[20,20,20,20]" data-paddingleft="[50,50,50,50]"
                        style="z-index: 6; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1);font-family:Montserrat;background-color:rgba(250,49,56,1);border-color:rgba(250,49,56,1);border-style:solid;border-width:0px; border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        Explore Water Solutions </div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption   tp-resizeme" id="slide-19-layer-38" data-x="930" data-y="center"
                        data-voffset="-130" data-width="['auto']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 7; white-space: nowrap; font-size: 72px; line-height: 72px; font-weight: 800; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">
                        Smart Water<br> Management System </div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption   tp-resizeme" id="slide-19-layer-39" data-x="930" data-y="center"
                        data-voffset="" data-width="['auto']" data-height="['auto']"
                        data-visibility="['on','on','off','off']" data-type="text" data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 8; white-space: nowrap; font-size: 24px; line-height: 40px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                        Revolutionize your water usage with advanced water management solutions. <br>Monitor, conserve, and optimize water consumption with cutting-edge technology.</div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--End Main Slider-->

<!-- Product Features Section -->
<section class="product-features-section">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg" style="background-image: url(assets/userAssets/images/background/21.jpg)">
            <div class="cws-overlay-bg"></div>
        </div>
        <div class="cws-triangle-overlay bottom-left"></div>
    </div>

    <div class="auto-container">
        <div class="row">
            <!-- Feature Column -->
            <div class="feature-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Smart Water Safety</h2>
                    </div>
                    <!-- Feature BLock Seven -->
                    <div class="feature-block-seven">
                        <div class="inner-box">
                            <div class="icon flaticon-alarm"></div>
                            <h4>Leak Detection Alarm</h4>
                            <div class="text">Get instant alerts for water leaks, preventing damage and saving resources.</div>
                        </div>
                    </div>

                    <!-- Feature BLock Seven -->
                    <div class="feature-block-seven">
                        <div class="inner-box">
                            <div class="icon flaticon-eye"></div>
                            <h4>Water Quality Monitoring</h4>
                            <div class="text">Track and maintain optimal water quality for safe and healthy usage.</div>
                        </div>
                    </div>

                    <!-- Feature BLock Seven -->
                    <div class="feature-block-seven">
                        <div class="inner-box">
                            <div class="icon flaticon-speaker"></div>
                            <h4>Flow Control</h4>
                            <div class="text">Regulate and manage water flow to minimize waste and maximize efficiency.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <figure class="image"><img src="assets/userAssets/images/background/saftey.png" alt="" /></figure>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Product Features -->

<!-- Product Supports -->
<section class="product-supports">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-triangle-overlay top-right"></div>
        <div class="cws-image-bg" style="background-image: url(assets/userAssets/images/background/22.jpg)">
            <div class="cws-overlay-bg"></div>
        </div>
        <div class="cws-triangle-overlay bottom-left"></div>
    </div>

    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title light">
                        <h2>Real-Time Water Flow Monitoring</h2>
                        <div class="text">Stay in control of your water usage with real-time monitoring. Adjust and optimize water flow with intuitive controls for better resource management.</div>
                    </div>
                    <ul class="icon-list-two clearfix">
                        <li><a routerLink="#"><span class="icon flaticon-speaker-2"></span></a></li>
                        <li><a routerLink="#"><span class="icon flaticon-old-radio-microphone"></span></a></li>
                        <li><a routerLink="#"><span class="icon flaticon-speaker"></span></a></li>
                    </ul>
                    <div class="btn-box"><a routerLink="#" class="theme-btn btn-style-one large bg-pink">Explore Monitoring Solutions</a></div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="image-box">
                    <figure class="image"><img src="assets/userAssets/images/background/water-monitoring.png" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Supports -->

<!-- Quality Equipment -->
<section class="quality-equipment style-two">
    <div class="cws-image-bg">
        <div class="cws-overlay-bg"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Smart Water Metering</h2>
            <div class="text">Track your water usage effortlessly with smart meters that offer 360-degree data accuracy. Reduce wastage and optimize consumption with detailed insights.</div>
        </div>
        <div class="device-img">
            <figure class="image"><img src="assets/userAssets/images/background/meter.png" alt="" /></figure>
        </div>
    </div>
</section>
<!-- End Quality Equipment -->



<!-- About Section Two -->
<section class="about-section-two">
    <div class="auto-container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>EVERYTHING YOU NEED</h2>
                        <div class="text">Empower your water management with all-in-one solutions. Monitor, optimize, and control your water usage efficiently with innovative technologies designed for sustainability and convenience.</div>
                    </div>
                    <div class="progress-grap row">
                        <!-- Pie Graph -->
                        <div class="pie-graph col-lg-3 col-md-3 col-sm-6">
                            <div class="graph-outer">
                                <input type="text" class="dial" data-fgColor="#363636" data-bgColor="#c3c3c3"
                                    data-width="96" data-height="96" data-linecap="normal" value="80">
                                <div class="inner-text count-box"><span class="count-text txt" data-stop="80"
                                        data-speed="2000"></span>%</div>
                            </div>
                            <h4>Efficiency</h4>
                        </div>

                        <!-- Pie Graph -->
                        <div class="pie-graph col-lg-3 col-md-3 col-sm-6">
                            <div class="graph-outer">
                                <input type="text" class="dial" data-fgColor="#363636" data-bgColor="#c3c3c3"
                                    data-width="96" data-height="96" data-linecap="normal" value="90">
                                <div class="inner-text count-box"><span class="count-text txt" data-stop="90"
                                        data-speed="2000"></span>%</div>
                            </div>
                            <h4>Sustainability</h4>
                        </div>

                        <!-- Pie Graph -->
                        <div class="pie-graph col-lg-3 col-md-3 col-sm-6">
                            <div class="graph-outer">
                                <input type="text" class="dial" data-fgColor="#363636" data-bgColor="#c3c3c3"
                                    data-width="96" data-height="96" data-linecap="normal" value="75">
                                <div class="inner-text count-box"><span class="count-text txt" data-stop="75"
                                        data-speed="2000"></span>%</div>
                            </div>
                            <h4>Innovation</h4>
                        </div>

                        <!-- Pie Graph -->
                        <div class="pie-graph col-lg-3 col-md-3 col-sm-6">
                            <div class="graph-outer">
                                <input type="text" class="dial" data-fgColor="#363636" data-bgColor="#c3c3c3"
                                    data-width="96" data-height="96" data-linecap="normal" value="85">
                                <div class="inner-text count-box"><span class="count-text txt" data-stop="85"
                                        data-speed="2000"></span>%</div>
                            </div>
                            <h4>Control</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <figure class="image"><img src="assets/userAssets/images/resource/camera-control.jpg" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section Two -->

<!-- Subscribe Section -->
<section class="subscribe-section style-three">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg">
            <div class="cws-overlay-bg"></div>
        </div>
    </div>

    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Enjoy Your Comfort</h2>
        </div>
        <!--Newslatter Form-->
        <div class="newslatter-form">
            <form method="post" action="#" id="subscribe-form">
                <div class="form-group">
                    <div class="response"></div>
                </div>
                <div class="form-group input">
                    <input type="email" name="email" class="email" value="" placeholder="Your Email Address"
                        required>
                </div>
                <div class="form-group">
                    <button type="button" id="subscribe-newslatters" class="theme-btn btn-style-one bg-pink">I
                        WANT IT!</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--End Subscribe Section -->
