<!--Main Slider-->
<section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-15" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="850"
                    data-thumb="" data-delay="5999" data-rotate="0" data-saveperformance="off" data-title="Slide"
                    data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                    data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="assets/userAssets/images/main-slider/8.jpg" alt="" title="Video Monitoring"
                        data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                        data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme" id="slide-15-layer-38" data-x="center" data-hoffset=""
                        data-y="center" data-voffset=""
                        data-width="['full-proportional','full-proportional','full-proportional','full-proportional']"
                        data-height="['full-proportional','full-proportional','full-proportional','full-proportional']"
                        data-type="image" data-basealign="slide" data-responsive_offset="on"
                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 5;background-color:rgba(0,173,255,0.8);">
                        <img src="assets/userAssets/images/main-slider/pattern/2.png" alt="" data-ww="full-proportional"
                            data-hh="full-proportional" width="1920" height="1080" data-no-retina>
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption   tp-resizeme" id="slide-15-layer-31" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="-50" data-width="['904']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; min-width: 904px; max-width: 904px; white-space: normal; font-size: 72px; line-height: 72px; font-weight: 800; color: rgba(255,255,255,1);font-family:Montserrat;text-transform:uppercase;">
                        Your Dream Garden, on Autopilot </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme" id="slide-15-layer-33" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="70" data-width="['auto']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 7; white-space: nowrap; font-size: 24px; line-height: 48px; font-weight: 700; color: rgba(255,255,255,1);font-family:Montserrat;">
                        Our smart gardening system ensures your outdoor space stays lush, <br>vibrant, and effortlessly
                        beautiful—all year round!
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption rev-btn  tp-resizeme" id="slide-15-layer-36" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="170" data-width="['auto']" data-height="['auto']"
                        data-type="button"
                        data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"700","ease":"Linear.easeNone"}]'
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(70,70,70,0.9);"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[20,20,20,20]"
                        data-paddingright="[50,50,50,50]" data-paddingbottom="[20,20,20,20]"
                        data-paddingleft="[50,50,50,50]"
                        style="z-index: 8; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1);font-family:Montserrat;background-color:rgb(70,70,70);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        EXPLORE VIDEO SERVICES </div>
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-16" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="850"
                    data-thumb="" data-delay="5999" data-rotate="0" data-saveperformance="off" data-title="Slide"
                    data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                    data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="assets/userAssets/images/main-slider/9.jpg" alt="" title="Video Monitoring"
                        data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
                        data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme" id="slide-16-layer-38" data-x="center" data-hoffset=""
                        data-y="center" data-voffset=""
                        data-width="['full-proportional','full-proportional','full-proportional','full-proportional']"
                        data-height="['full-proportional','full-proportional','full-proportional','full-proportional']"
                        data-type="image" data-basealign="slide" data-responsive_offset="on"
                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","ease":"Power3.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 5;background-color:rgba(0,173,255,0.8);">
                        <img src="assets/userAssets/images/main-slider/pattern/2.png" alt="" data-ww="full-proportional"
                            data-hh="full-proportional" width="1920" height="1080" data-no-retina>
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption   tp-resizeme" id="slide-16-layer-31" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="-70" data-width="['904']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; min-width: 904px; max-width: 904px; white-space: normal; font-size: 72px; line-height: 72px; font-weight: 800; color: rgba(255,255,255,1);font-family:Montserrat;text-transform:uppercase;">
                        Increase Protection </div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption   tp-resizeme" id="slide-16-layer-33" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="" data-width="['auto']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 7; white-space: nowrap; font-size: 24px; line-height: 48px; font-weight: 700; color: rgba(255,255,255,1);font-family:Montserrat;">
                        While Mitigating Risk </div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption rev-btn  tp-resizeme" id="slide-16-layer-36" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="100" data-width="['auto']" data-height="['auto']"
                        data-type="button"
                        data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"700","ease":"Linear.easeNone"}]'
                        data-responsive_offset="on"
                        data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(70,70,70,0.9);"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[20,20,20,20]"
                        data-paddingright="[50,50,50,50]" data-paddingbottom="[20,20,20,20]"
                        data-paddingleft="[50,50,50,50]"
                        style="z-index: 8; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1);font-family:Montserrat;background-color:rgb(70,70,70);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        EXPLORE VIDEO SERVICES
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--End Main Slider-->

<!-- Features Section -->
<section class="features-section">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg style-seven" style="background-image: url(assets/userAssets/images/background/bg1.jpg)">
            <div class="cws-overlay-bg"></div>
        </div>
    </div>

    <div class="auto-container">
        <div class="row">
            <div class="content-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Smart Watering, Perfectly Timed!</h2>
                        <div class="text">Forget the guesswork—let your garden thrive effortlessly! Our automated
                            watering system adapts to real-time weather changes, ensuring your plants get just the right
                            amount of hydration. With advanced humidity sensors, you’ll never have to worry about
                            overwatering or wasting water. Rain or shine, your garden stays lush, vibrant, and perfectly
                            nourished—automatically</div>
                    </div>


                    <div class="btn-box"><a href="#" class="theme-btn btn-style-one large bg-sky">REQUEST A FREE
                            BROCHURE</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->

<!-- Accordion Section -->
<section class="accordion-section">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg" style="background-image: url(assets/userAssets/images/background/13.jpg)">
            <div class="cws-overlay-bg"></div>
            <div class="cws-triangle-overlay"></div>
        </div>
    </div>
    <div class="auto-container">
        <div class="row">
            <div class="accordion-column col-lg-5 col-md-12 offset-7">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Effortless Magical Evenings</h2>
                    </div>

                    <div class="text">Enjoy peaceful evening strolls without the hassle of switching on every light.
                        With motion sensors in place, garden lights activate only where needed, creating a beautifully
                        illuminated path while saving energy. Admire your garden after dark without worrying about
                        unnecessary electricity use!</div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--End Accordion Section -->


<!-- Features Section Two -->
<section class="features-section-two">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg style-eight" style="background-image: url(assets/userAssets/images/background/14.jpg)">
            <div class="cws-overlay-bg"></div>
        </div>
    </div>

    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-5 col-md-12 offset-7">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Garden Surveillance</h2>
                    </div>
                    <p>A large garden can be challenging to manage and is often a target for intruders. But imagine the
                        peace of mind knowing that every corner of your property is under constant watch! With
                        synchronized surveillance cameras,
                       </p>
                    <p> and a smart alarm system, you can rest easy, knowing your garden is not just a beautiful
                        retreat, but a fully-secure part of your fortress. Never worry about unwanted visitors again!
                        With cutting-edge technology, your garden is protected, and you're always in control. Let’s make
                        your space safer and more secure than ever before!</p>
                    <div class="row">
                        <!-- Feature BLock Five -->
                        <div class="feature-block-five col-lg-4 col-md-4 col-sm-12">
                            <div class="icon-box">
                                <div class="icon_shape"><svg viewBox="0 0 67 60">
                                        <path
                                            d="M36.7,5.7L64,52.8a2.8,2.8,0,0,1-2.4,4.2H7a2.8,2.8,0,0,1-2.4-4.2L31.9,5.7A2.8,2.8,0,0,1,36.7,5.7Z">
                                        </path>
                                    </svg></div>
                                <span class="icon flaticon-laptop-2"></span>
                            </div>
                            <h4>Easily <br>Mount</h4>
                        </div>

                        <!-- Feature BLock Five -->
                        <div class="feature-block-five col-lg-4 col-md-4 col-sm-12">
                            <div class="icon-box">
                                <div class="icon_shape"><svg viewBox="0 0 67 60">
                                        <path
                                            d="M36.7,5.7L64,52.8a2.8,2.8,0,0,1-2.4,4.2H7a2.8,2.8,0,0,1-2.4-4.2L31.9,5.7A2.8,2.8,0,0,1,36.7,5.7Z">
                                        </path>
                                    </svg></div>
                                <span class="icon flaticon-big-trophy"></span>
                            </div>
                            <h4>Simple <br>Magnetic</h4>
                        </div>

                        <!-- Feature BLock Five -->
                        <div class="feature-block-five col-lg-4 col-md-4 col-sm-12">
                            <div class="icon-box">
                                <div class="icon_shape"><svg viewBox="0 0 67 60">
                                        <path
                                            d="M36.7,5.7L64,52.8a2.8,2.8,0,0,1-2.4,4.2H7a2.8,2.8,0,0,1-2.4-4.2L31.9,5.7A2.8,2.8,0,0,1,36.7,5.7Z">
                                        </path>
                                    </svg></div>
                                <span class="icon flaticon-fast-forward-square"></span>
                            </div>
                            <h4>Camera On <br>A Table</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Section Two -->

<!-- Process Section -->
<section class="process-section">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-image-bg" style="background-image: url(assets/userAssets/images/background/15.jpg)">
            <div class="cws-overlay-bg"></div>
        </div>
    </div>

    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>SMART INSTALLATION</h2>
            <div class="text">Set up your system with ease using our streamlined and professional installation
                services. From planning to execution, we ensure a seamless experience.</div>
        </div>

        <div class="row">
            <!-- Process BLock -->
            <div class="process-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box active">
                    <div class="icon-box">
                        <span class="process_line">
                            <span class="process_line_active"></span>
                            <span class="process_line_circle"></span>
                        </span>
                        <span class="icon flaticon-stopwatch"></span>
                    </div>
                    <h4>Step 1</h4>
                    <div class="text">Plan your installation timeline with precision to ensure a smooth and
                        efficient process.
                    </div>
                </div>
            </div>

            <!-- Process BLock -->
            <div class="process-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="process_line hide-sm">
                            <span class="process_line_active"></span>
                            <span class="process_line_circle"></span>
                        </span>
                        <span class="icon flaticon-settings-2"></span>
                    </div>
                    <h4>Step 2</h4>
                    <div class="text">Assemble and configure the system with expert guidance for optimal
                        performance.
                    </div>
                </div>
            </div>

            <!-- Process BLock -->
            <div class="process-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="icon flaticon-calendar-3"></span></div>
                    <h4>Step 3</h4>
                    <div class="text">Finalize and test the setup to guarantee everything works perfectly from
                        day one.
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-box text-center"><a href="#" class="theme-btn large btn-style-one bg-sky">FIND AN
                Home Haven Automation PARTNER</a></div>
    </div>
</section>
<!--End Process Section -->

<!-- Subscribe Section -->
<section class="subscribe-section">
    <!-- Background Layers -->
    <div class="background-layers">
        <div class="cws-triangle-overlay top-left"></div>
        <div class="cws-triangle-overlay top-right"></div>
        <div class="cws-image-bg">
            <div class="cws-overlay-bg bg-sky"></div>
        </div>
    </div>

    <div class="auto-container">
        <div class="sec-title text-center light">
            <h2>WE’RE HERE TO HELP</h2>
            <div class="text">Our dedicated team is committed to providing you with the best support for your
                smart garden solutions. Whether you need assistance<br> with setup, troubleshooting, or selecting
                the right products, we’re just a call away. Experience reliable and friendly service every step
                of the way.</div>
        </div>
        <!--Newslatter Form-->
        <div class="newslatter-form">
            <form method="post" action="#" id="subscribe-form">
                <div class="form-group">
                    <div class="response"></div>
                </div>
                <div class="form-group input">
                    <input type="email" name="email" class="email" value="" placeholder="Your Email Address" required>
                </div>
                <div class="form-group">
                    <button type="button" id="subscribe-newslatters" class="theme-btn btn-style-one large dark">GET IN
                        TOUCH</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--End Subscribe Section -->