<!--Page Title-->
<section class="page-title">
  <!-- Background Layers -->
  <div class="background-layers">
    <div class="cws-image-bg" style="background-image: url(assets/images/background/37.jpg)">
      <div class="cws-overlay-bg"></div>
    </div>
  </div>

  <app-breadcrumbs></app-breadcrumbs>

</section>
<!--End Page Title-->
@if (isLoading) {
<div class="spinner-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}

@if (showAlert) {
<div class="alert alert-dismissible fade show center-alert"
  [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
  {{ alertMessage }}
  <button type="button" class="btn-close" aria-label="Close" (click)="closePopupMsg()"></button>
</div>
}

<!--Sidebar Page Container-->
<div class="sidebar-page-container">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Content Side-->
      <div class="content-side col-lg-9 col-md-12 col-sm-12">
        <div class="our-shop no-padding style-two">
          <div class="shop-upper-box clearfix">
            <div class="items-label">Showing all {{ products.length }} results</div>
            <div class="orderby">
              <select name="orderby" class="sortby-select" (change)="sortProducts($event)">
                <option value="price">Sort by price: low to high</option>
                <option value="price-desc">Sort by price: high to low</option>
              </select>
            </div>

          </div>

          <div class="row clearfix">
            <div class="shop-item col-lg-4 col-md-6 col-sm-12" *ngFor="let product of filteredProducts">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a (click)="goToProductDetail(product)">

                      <img src="assets/images/resource/item-thumb-1.jpg">
                    </a>
                  </figure>

                  <div class="rating">
                    <span class="fa fa-heart" [class.filled]="wishlist[product.productId]"
                      (click)="toggleWishlist(product)">
                    </span>

                  </div>

                </div>
                <div class="lower-content">
                  <h4 class="name">
                    <a (click)="goToProductDetail(product)">{{ product.name }}</a>
                  </h4>
                  <div class="price">Rs. {{ product.price }}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--Sidebar Side-->
      <div class="sidebar-side sticky-container col-lg-3 col-md-12 col-sm-12">
        <aside class="sidebar theiaStickySidebar">
          <div class="sticky-sidebar">

            <!-- Category  Widget -->
            <div class="sidebar-widget category-widget">
              <div class="widget-content">
                <h3 class="widget-title">Categories</h3>
                <li class="cursor" (click)="resetFilters()">
                  Show All
                </li>
                <ul class="categories-list">
                  <li *ngFor="let category of categories">
                    <a (click)="filterProductsByCategory(category.categoryId)">{{ category.name }}</a>
                    <span class="category-count">({{ category.totalProducts }})</span>
                  </li>
                </ul>
                
                <!-- <ul class="categories-list">
                  <li *ngFor="let category of categories">
                    <a [routerLink]="'/shop/'">{{ category.name }}</a>
                    <span class="category-count">({{ category.totalProducts }})</span>
                  </li>

                </ul> -->
              </div>
            </div>



          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
<!--End Sidebar Page Container-->