.fa-heart {
    font-size: 22px; /* Adjust size */
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: #bbb !important; 
    font-size: larger !important;
  
    &.filled {
      color: #ff005c !important; /* Red: Wishlisted */
    }
  
    &:hover {
      color: #ff2a75 !important; /* Slightly Brighter Red on Hover */
    }
  }
  

  