.order-wrap {
    margin: 20px;
  }
  
  .order-info {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
  }
  
  .order-info h6 {
    margin-top: 0;
  }
  
  .order-info ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .order-info li {
    margin-bottom: 5px;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  .datatable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .datatable th, .datatable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .datatable th {
    background-color: #f2f2f2;
  }
  .main{
    padding-left: 29px;
    padding-top: 10px;
  }
  