<!--Page Title-->
<section class="page-title">
  <!-- Background Layers -->
  <div class="background-layers">
    <div class="cws-image-bg" style="background-image: url(images/background/37.jpg)">
      <div class="cws-overlay-bg"></div>
    </div>
  </div>

  <div class="auto-container">
    <h1>Register</h1>
   
  </div>
</section>
<!--End Page Title-->

<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="showAlert" class="alert alert-dismissible fade show center-alert"
  [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
  {{ alertMessage }}
  <button type="button" class="btn-close" aria-label="Close" (click)="closePopupMsg()">X</button>
</div>

<!--Login Section-->
<!-- Register Section -->
<section class="register-section">
  <div class="auto-container">
    <div class="card">
     
      <div class="card-body">
        <!-- Registration Form -->
        <form [formGroup]="registerForm">
          <!-- First Row: Full Name & Username -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Full Name</label>
              <input type="text" class="form-control" name="fullName" placeholder="Enter full name" formControlName="fullName" required>
            </div>

            <div class="col-md-6 form-group">
              <label>Username</label>
              <input type="text" class="form-control" name="username" placeholder="Enter username" formControlName="username" required>
            </div>
          </div>

          <!-- Second Row: Contact & Street -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Contact</label>
              <input type="text" class="form-control" name="contactNumber" placeholder="Enter contact number" formControlName="contactNumber" required>
            </div>

            <div class="col-md-6 form-group">
              <label>Street</label>
              <input type="text" class="form-control" name="street" placeholder="Enter street" formControlName="street" required>
            </div>
          </div>

          <!-- Third Row: City & State -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>City</label>
              <input type="text" class="form-control" name="city" placeholder="Enter city" formControlName="city" required>
            </div>

            <div class="col-md-6 form-group">
              <label>State</label>
              <input type="text" class="form-control" name="state" placeholder="Enter state" formControlName="state" required>
            </div>
          </div>

          <!-- Fourth Row: Postal Code & Country -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Postal Code</label>
              <input type="text" class="form-control" name="postalCode" placeholder="Enter postal code" formControlName="postalCode" required>
            </div>

            <div class="col-md-6 form-group">
              <label>Country</label>
              <input type="text" class="form-control" name="country" placeholder="Enter country" formControlName="country" required>
            </div>
          </div>

          <!-- Fifth Row: Password & Confirm Password -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Password *</label>
              <input type="password" class="form-control" name="password" placeholder="Enter password" formControlName="password" required>
            </div>

            <div class="col-md-6 form-group">
              <label>Re-Type Password *</label>
              <input type="password" class="form-control" name="retypePassword" placeholder="Re-enter password" required>
            </div>
          </div>

        

          <!-- Submit Button -->
          <div class="form-group text-center mt-4">
            <input class="btn btn-primary btn-lg w-100" type="submit" name="submit-form" [disabled]="registerForm.invalid" (click)="onSubmit()" value="Register">
          </div>
        </form>

        <div class="form-group text-center mt-3">
          <a routerLink="/login" class="psw">I already have a membership</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--End Login Section-->

