 <!--Main Slider-->
 <section class="main-slider">
  <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
      <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
          <ul>
              <li data-index="rs-7" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                  data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                  data-masterspeed="850" data-thumb="" data-delay="5999" data-rotate="0"
                  data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                  data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                  data-param10="" data-description="">

                  <!-- MAIN IMAGE -->
                  <img src="assets/images/main-slider/13.jpg" alt="" title="Intelligent Home"
                      data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                      class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption   tp-resizeme" id="slide-7-layer-40" data-x="center" data-hoffset=""
                      data-y="center" data-voffset=""
                      data-width="['full-proportional','full-proportional','full-proportional','full-proportional']"
                      data-height="['full-proportional','full-proportional','full-proportional','full-proportional']"
                      data-type="image" data-basealign="slide" data-responsive_offset="on"
                      data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","ease":"Power3.easeInOut"}]'
                      data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img
                          src="assets/images/main-slider/pattern/5.png" alt="" data-ww="full-proportional"
                          data-hh="full-proportional" width="1920" height="1080" data-no-retina> </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption   tp-resizeme" id="slide-7-layer-31" data-x="center" data-hoffset=""
                      data-y="center" data-voffset="-130" data-width="['623']" data-height="['auto']"
                      data-type="text" data-responsive_offset="on"
                      data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                      data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[0,0,0,0]"
                      style="z-index: 6; min-width: 623px; max-width: 623px; white-space: normal; font-size: 72px; line-height: 72px; font-weight: 800; color: rgba(255,255,255,1); ;font-family:Catamaran;text-transform:uppercase;">
                      Climate Control </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption   tp-resizeme" id="slide-7-layer-33" data-x="center" data-hoffset=""
                      data-y="center" data-voffset="" data-width="['auto']" data-height="['auto']"
                      data-type="text" data-responsive_offset="on"
                      data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                      data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[0,0,0,0]"
                      style="z-index: 7; white-space: nowrap; font-size: 24px; line-height: 40px; font-weight: 400; color: rgba(255,255,255,1); ;font-family:Catamaran;">
                      Maintain optimal comfort with intelligent temperature management systems.</div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption rev-btn  tp-resizeme" id="slide-7-layer-36" data-x="center"
                      data-hoffset="" data-y="center" data-voffset="100" data-width="['auto']"
                      data-height="['auto']" data-type="button"
                      data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"700","ease":"Linear.easeNone"}]'
                      data-responsive_offset="on"
                      data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(3,200,173,1);bg:rgba(255,255,255,1);"}]'
                      data-textAlign="['inherit','inherit','inherit','inherit']"
                      data-paddingtop="[20,20,20,20]" data-paddingright="[50,50,50,50]"
                      data-paddingbottom="[20,20,20,20]" data-paddingleft="[50,50,50,50]"
                      style="z-index: 8; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1); ;font-family:Catamaran;background-color:rgba(3,200,173,1);border-color:rgba(3,200,173,1);border-style:solid;border-width:0px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                      EXPLORE BEST SECURITY </div>
              </li>

              <!-- SLIDE  -->
              <li data-index="rs-9" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                  data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                  data-masterspeed="850" data-thumb="" data-delay="5999" data-rotate="0"
                  data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                  data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                  data-param10="" data-description="">

                  <!-- MAIN IMAGE -->
                  <img src="assets/images/main-slider/15.jpg" alt="" title="Intelligent Home"
                      data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                      class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 9 -->
                  <div class="tp-caption   tp-resizeme" id="slide-9-layer-40" data-x="center" data-hoffset=""
                      data-y="center" data-voffset=""
                      data-width="['full-proportional','full-proportional','full-proportional','full-proportional']"
                      data-height="['full-proportional','full-proportional','full-proportional','full-proportional']"
                      data-type="image" data-basealign="slide" data-responsive_offset="on"
                      data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","ease":"Power3.easeInOut"}]'
                      data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img
                          src="assets/images/main-slider/pattern/5.png" alt="" data-ww="full-proportional"
                          data-hh="full-proportional" width="1920" height="1080" data-no-retina> </div>

                  <!-- LAYER NR. 10 -->
                  <div class="tp-caption   tp-resizeme" id="slide-9-layer-31" data-x="center" data-hoffset=""
                      data-y="center" data-voffset="-130" data-width="['891']" data-height="['auto']"
                      data-type="text" data-responsive_offset="on"
                      data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                      data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[0,0,0,0]"
                      style="z-index: 6; min-width: 891px; max-width: 891px; white-space: normal; font-size: 72px; line-height: 72px; font-weight: 800; color: rgba(255,255,255,1); ;font-family:Catamaran;text-transform:uppercase;">
                      Climate Control</div>

                  <!-- LAYER NR. 11 -->
                  <div class="tp-caption   tp-resizeme" id="slide-9-layer-33" data-x="center" data-hoffset=""
                      data-y="center" data-voffset="" data-width="['auto']" data-height="['auto']"
                      data-type="text" data-responsive_offset="on"
                      data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                      data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[0,0,0,0]"
                      style="z-index: 7; white-space: nowrap; font-size: 24px; line-height: 40px; font-weight: 400; color: rgba(255,255,255,1); ;font-family:Catamaran;">
                      Maintain optimal comfort with intelligent temperature management systems. </div>

                  <!-- LAYER NR. 12 -->
                  <div class="tp-caption rev-btn  tp-resizeme" id="slide-9-layer-36" data-x="center"
                      data-hoffset="" data-y="center" data-voffset="100" data-width="['auto']"
                      data-height="['auto']" data-type="button"
                      data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"700","ease":"Linear.easeNone"}]'
                      data-responsive_offset="on"
                      data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(3,200,173,1);bg:rgba(255,255,255,1);"}]'
                      data-textAlign="['inherit','inherit','inherit','inherit']"
                      data-paddingtop="[20,20,20,20]" data-paddingright="[50,50,50,50]"
                      data-paddingbottom="[20,20,20,20]" data-paddingleft="[50,50,50,50]"
                      style="z-index: 8; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1); ;font-family:Catamaran;background-color:rgba(3,200,173,1);border-color:rgba(3,200,173,1);border-style:solid;border-width:0px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                      EXPLORE BEST SECURITY </div>
              </li>
          </ul>
      </div>
  </div>
</section>
<!--End Main Slider-->

<!-- Top Features -->
<section class="top-features">
  <!-- Background Layers -->
  <div class="background-layers">
      <div class="cws-image-bg">
          <div class="cws-overlay-bg"></div>
      </div>
  </div>

  <div class="auto-container">
      <div class="outer-box">
          <div class="row">
              <!-- Feature Block Eight -->
              <div class="feature-block-eight col-lg-3 col-md-6 col-sm-12">
                  <div class="inner-box">
                      <div class="icon-box">
                          <div class="icon_shape">
                              <svg viewBox="0 0 91 91">
                                  <defs>
                                      <filter id="shape_5bf73c8aa7345">
                                          <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                                          <feOffset dx="1" dy="1"></feOffset>
                                          <feComponentTransfer>
                                              <feFuncA type="linear" slope="0.6"></feFuncA>
                                          </feComponentTransfer>
                                          <feMerge>
                                              <feMergeNode></feMergeNode>
                                              <feMergeNode in="SourceGraphic"></feMergeNode>
                                          </feMerge>
                                      </filter>
                                  </defs>
                                  <path filter="url(#shape_5bf73c8aa7345)"
                                      d="M169.92,316l38.45,38.45a3.67,3.67,0,0,1,0,5.2l-38.45,38.45a3.67,3.67,0,0,1-5.2,0l-38.45-38.45a3.67,3.67,0,0,1,0-5.2L164.73,316A3.67,3.67,0,0,1,169.92,316Z"
                                      transform="translate(-123 -312.68)"></path>
                              </svg>
                          </div>
                          <span class="icon flaticon-shield-2"></span>
                      </div>
                      <div class="lower-content">
                          <h4>Trusted Protection</h4>
                      </div>
                  </div>
              </div>

              <!-- Feature Block Eight -->
              <div class="feature-block-eight col-lg-3 col-md-6 col-sm-12">
                  <div class="inner-box">
                      <div class="icon-box">
                          <div class="icon_shape">
                              <svg viewBox="0 0 91 91">
                                  <defs>
                                      <filter id="shape_5bf73c8aa73453">
                                          <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                                          <feOffset dx="1" dy="1"></feOffset>
                                          <feComponentTransfer>
                                              <feFuncA type="linear" slope="0.6"></feFuncA>
                                          </feComponentTransfer>
                                          <feMerge>
                                              <feMergeNode></feMergeNode>
                                              <feMergeNode in="SourceGraphic"></feMergeNode>
                                          </feMerge>
                                      </filter>
                                  </defs>
                                  <path filter="url(#shape_5bf73c8aa73453)"
                                      d="M169.92,316l38.45,38.45a3.67,3.67,0,0,1,0,5.2l-38.45,38.45a3.67,3.67,0,0,1-5.2,0l-38.45-38.45a3.67,3.67,0,0,1,0-5.2L164.73,316A3.67,3.67,0,0,1,169.92,316Z"
                                      transform="translate(-123 -312.68)"></path>
                              </svg>
                          </div>
                          <span class="icon flaticon-home-1"></span>
                      </div>
                      <div class="lower-content">
                          <h4>Secure Home</h4>
                      </div>
                  </div>
              </div>

              <!-- Feature Block Eight -->
              <div class="feature-block-eight col-lg-3 col-md-6 col-sm-12">
                  <div class="inner-box">
                      <div class="icon-box">
                          <div class="icon_shape">
                              <svg viewBox="0 0 91 91">
                                  <defs>
                                      <filter id="shape_5bf73c8aa73454">
                                          <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                                          <feOffset dx="1" dy="1"></feOffset>
                                          <feComponentTransfer>
                                              <feFuncA type="linear" slope="0.6"></feFuncA>
                                          </feComponentTransfer>
                                          <feMerge>
                                              <feMergeNode></feMergeNode>
                                              <feMergeNode in="SourceGraphic"></feMergeNode>
                                          </feMerge>
                                      </filter>
                                  </defs>
                                  <path filter="url(#shape_5bf73c8aa73454)"
                                      d="M169.92,316l38.45,38.45a3.67,3.67,0,0,1,0,5.2l-38.45,38.45a3.67,3.67,0,0,1-5.2,0l-38.45-38.45a3.67,3.67,0,0,1,0-5.2L164.73,316A3.67,3.67,0,0,1,169.92,316Z"
                                      transform="translate(-123 -312.68)"></path>
                              </svg>
                          </div>
                          <span class="icon flaticon-umbrella"></span>
                      </div>
                      <div class="lower-content">
                          <h4>Family Safety</h4>
                      </div>
                  </div>
              </div>

              <!-- Feature Block Eight -->
              <div class="feature-block-eight col-lg-3 col-md-6 col-sm-12">
                  <div class="inner-box">
                      <div class="icon-box">
                          <div class="icon_shape">
                              <svg viewBox="0 0 91 91">
                                  <defs>
                                      <filter id="shape_5bf73c8aa73457">
                                          <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                                          <feOffset dx="1" dy="1"></feOffset>
                                          <feComponentTransfer>
                                              <feFuncA type="linear" slope="0.6"></feFuncA>
                                          </feComponentTransfer>
                                          <feMerge>
                                              <feMergeNode></feMergeNode>
                                              <feMergeNode in="SourceGraphic"></feMergeNode>
                                          </feMerge>
                                      </filter>
                                  </defs>
                                  <path filter="url(#shape_5bf73c8aa73457)"
                                      d="M169.92,316l38.45,38.45a3.67,3.67,0,0,1,0,5.2l-38.45,38.45a3.67,3.67,0,0,1-5.2,0l-38.45-38.45a3.67,3.67,0,0,1,0-5.2L164.73,316A3.67,3.67,0,0,1,169.92,316Z"
                                      transform="translate(-123 -312.68)"></path>
                              </svg>
                          </div>
                          <span class="icon flaticon-surveillance"></span>
                      </div>
                      <div class="lower-content">
                          <h4>Advanced Surveillance</h4>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- End Top Features -->

<!-- Features Section Five-->
<section class="features-section-five">
  <!-- Background Layers -->
  <div class="background-layers">
      <div class="cws-image-bg" style="background-image: url(assets/images/background/25.jpg);"></div>
      <div class="cws-triangle-overlay bottom-left"></div>
      <div class="cws-triangle-overlay bottom-right"></div>
  </div>

  <div class="auto-container">
      <div class="auto-container">
          <div class="row">
              <!-- Content Column -->
              <div class="content-column order-2 col-lg-5 col-md-12 col-sm-12">
                  <div class="inner-column">
                      <div class="sec-title light">
                          <h2>ITEMS FOR YOUR COMFORT</h2>
                          <div class="text">Create the perfect indoor environment with advanced climate
                              control solutions. From temperature adjustments to energy efficiency, experience
                              ultimate comfort at your fingertips.</div>
                      </div>

                      <ul class="features-list">
                          <li>
                              <span class="icon flaticon-laptop-3"></span>
                              <h4>Smart Temperature Control</h4>
                              <p>Adjust and maintain the ideal temperature in your home with intelligent
                                  systems designed for precision and convenience.</p>
                          </li>

                          <li>
                              <span class="icon flaticon-phone-lock"></span>
                              <h4>Energy Efficiency</h4>
                              <p>Save energy without compromising comfort. Our climate control systems
                                  optimize energy usage to reduce costs and environmental impact.</p>
                          </li>

                          <li>
                              <span class="icon flaticon-combination"></span>
                              <h4>Personalized Comfort</h4>
                              <p>Enjoy a climate tailored to your preferences, with smart settings that adapt
                                  to your lifestyle seamlessly.</p>
                          </li>
                      </ul>

                      <div class="btn-box"><a href="#"
                              class="theme-btn btn-style-one large bg-caribbean">REQUEST A FREE BROCHURE</a>
                      </div>
                  </div>
              </div>

              <!-- Image Column -->
              <div class="image-column col-lg-7 col-md-12 col-sm-12">
                  <div class="image-box">
                      <figure class="image"><img src="assets/images/resource/camera-5.png" alt=""></figure>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Features Section Five-->

<!-- Services Section Two -->
<section class="services-section-two">
  <!-- Background Layers -->
  <div class="background-layers">
      <div class="cws-image-bg" style="background-image: url(assets/images/background/26.jpg);"></div>
      <div class="cws-overlay-bg"></div>
      <div class="cws-triangle-overlay bottom-right"></div>
  </div>

  <div class="auto-container">
      <div class="sec-title text-center">
          <h2>SERVICES WE PROVIDE</h2>
          <div class="text">Experience the future of climate control with our innovative solutions. From
              maintaining ideal temperatures to <br>optimizing energy efficiency, we have everything you need
              for a smarter, more comfortable environment.
          </div>
      </div>
      <div class="row">
          <!-- Service Block Two -->
          <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                  <div class="icon-box">
                      <div class="icon_shape">
                          <svg viewBox="0 0 91 91">
                              <defs>
                                  <filter id="shape_5bf73c8aa9d5d">
                                      <feMerge>
                                          <feMergeNode></feMergeNode>
                                          <feMergeNode in="SourceGraphic"></feMergeNode>
                                      </feMerge>
                                  </filter>
                              </defs>
                              <path filter="url(#shape_5bf73c8aa9d5d)"
                                  d="M169.92,316l38.45,38.45a3.67,3.67,0,0,1,0,5.2l-38.45,38.45a3.67,3.67,0,0,1-5.2,0l-38.45-38.45a3.67,3.67,0,0,1,0-5.2L164.73,316A3.67,3.67,0,0,1,169.92,316Z"
                                  transform="translate(-123 -312.68)"></path>
                          </svg>
                      </div>
                      <span class="icon flaticon-lamp-1"></span>
                  </div>
                  <div class="lower-content">
                      <h4>Smart Cooling
                      </h4>
                      <div class="text">Keep your space cool and refreshing with intelligent cooling systems
                          that adapt to your needs.</div>
                      <div class="btn-box"><a href="#"
                              class="theme-btn btn-style-one bg-caribbean">EXPLORE</a></div>
                  </div>
              </div>
          </div>

          <!-- Service Block Two -->
          <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                  <div class="icon-box">
                      <div class="icon_shape">
                          <svg viewBox="0 0 91 91">
                              <defs>
                                  <filter id="shape_5bf73c8aa9d52">
                                      <feMerge>
                                          <feMergeNode></feMergeNode>
                                          <feMergeNode in="SourceGraphic"></feMergeNode>
                                      </feMerge>
                                  </filter>
                              </defs>
                              <path filter="url(#shape_5bf73c8aa9d52)"
                                  d="M169.92,316l38.45,38.45a3.67,3.67,0,0,1,0,5.2l-38.45,38.45a3.67,3.67,0,0,1-5.2,0l-38.45-38.45a3.67,3.67,0,0,1,0-5.2L164.73,316A3.67,3.67,0,0,1,169.92,316Z"
                                  transform="translate(-123 -312.68)"></path>
                          </svg>
                      </div>
                      <span class="icon flaticon-socket-3"></span>
                  </div>
                  <div class="lower-content">
                      <h4>Energy Efficiency</h4>
                      <div class="text">Lower energy costs with advanced systems that optimize consumption
                          while maintaining comfort.</div>
                      <div class="btn-box"><a href="#"
                              class="theme-btn btn-style-one bg-caribbean">EXPLORE</a></div>
                  </div>
              </div>
          </div>

          <!-- Service Block Two -->
          <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                  <div class="icon-box">
                      <div class="icon_shape">
                          <svg viewBox="0 0 91 91">
                              <defs>
                                  <filter id="shape_5bf73c8aa9d53">
                                      <feMerge>
                                          <feMergeNode></feMergeNode>
                                          <feMergeNode in="SourceGraphic"></feMergeNode>
                                      </feMerge>
                                  </filter>
                              </defs>
                              <path filter="url(#shape_5bf73c8aa9d53)"
                                  d="M169.92,316l38.45,38.45a3.67,3.67,0,0,1,0,5.2l-38.45,38.45a3.67,3.67,0,0,1-5.2,0l-38.45-38.45a3.67,3.67,0,0,1,0-5.2L164.73,316A3.67,3.67,0,0,1,169.92,316Z"
                                  transform="translate(-123 -312.68)"></path>
                          </svg>
                      </div>
                      <span class="icon flaticon-heater-1"></span>
                  </div>
                  <div class="lower-content">
                      <h4>Smart Heating</h4>
                      <div class="text">Enjoy the perfect warmth with heating systems designed to blend
                          efficiency and convenience.</div>
                      <div class="btn-box"><a href="#"
                              class="theme-btn btn-style-one bg-caribbean">EXPLORE</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Services Section Two -->

<!-- Projects Section -->
<section class="projects-section">
  <!-- Background Layers -->
  <div class="background-layers">
      <div class="cws-image-bg" style="background-image: url(assets/images/background/27.jpg);">
          <div class="cws-overlay-bg"></div>
      </div>
      <div class="cws-triangle-overlay bottom-left"></div>
  </div>

  <div class="auto-container">
      <div class="sec-title light text-center">
          <h2>OUR PROJECTS</h2>
          <div class="text">Discover our climate control projects showcasing state-of-the-art technology and
              seamless implementation.<br> Every project reflects our commitment to quality and innovation.</div>
      </div>
  </div>

  <div class="projects-tabs tabs-box">
      <!--Tabs Box-->
      <ul class="tab-buttons clearfix">
          <li class="tab-btn active-btn" data-tab="#tab1">All</li>
          <li class="tab-btn" data-tab="#tab2">Alarm</li>
          <li class="tab-btn" data-tab="#tab3">Energy</li>
      </ul>

      <div class="tabs-content">
          <!--Tab-->
          <div class="tab active-tab" id="tab1">
              <div class="row">
                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-1.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Temperature Control</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Achieve precise control of indoor climate with systems
                                  designed for personalized comfort.</div>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-3.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Energy Management</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Optimize energy usage with smart systems that ensure
                                  efficiency without compromising comfort.</div>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-7.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Custom Climate Solutions</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Tailored climate control solutions to meet the specific needs
                                  of your home or business.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!--Tab-->
          <div class="tab" id="tab2">
              <div class="row">
                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-1.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Temperature Control</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Achieve precise control of indoor climate with systems
                                  designed for personalized comfort.</div>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-3.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Energy Management</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Optimize energy usage with smart systems that ensure
                                  efficiency without compromising comfort.</div>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-7.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Custom Climate Solutions</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Tailored climate control solutions to meet the specific needs
                                  of your home or business.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!--Tab-->
          <div class="tab" id="tab3">
              <div class="row">
                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-1.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Temperature Control</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Achieve precise control of indoor climate with systems
                                  designed for personalized comfort.</div>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-3.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Energy Management</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Optimize energy usage with smart systems that ensure
                                  efficiency without compromising comfort.</div>
                          </div>
                      </div>
                  </div>

                  <!-- Project Block -->
                  <div class="project-block col-lg-4 col-md-6 col-sm-12">
                      <div class="inner-box">
                          <div class="image-box">
                              <figure class="image"><img src="assets/images/gallery/1-7.jpg" alt=""></figure>
                              <div class="overlay"><a href="#"><span class="icon fa fa-reply"></span></a>
                              </div>
                          </div>
                          <div class="lower-content">
                              <h4><a href="#">Custom Climate Solutions</a></h4>
                              <div class="cat"><a href="#">Alarm</a></div>
                              <div class="text">Tailored climate control solutions to meet the specific needs
                                  of your home or business.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end Projects Section -->

<!-- Our Shop -->
<section class="our-shop alternate">
  <div class="auto-container">
      <div class="sec-title text-center">
          <h2>CHOOSE & BUY NOW</h2>
          <div class="text">Nunc eu turpis id nulla sodales luctus. Vestibulum fermentum dui faucibus ligula
              dapibus scelerFind the perfect solution for your needs from our range of premium products. Shop
              with confidence and bring innovation to your home today.</div>
      </div>

      <div class="row">
          <!-- Shop Item -->
          <div class="shop-item col-lg-3 col-md-6 col-sm-12">
              <div class="inner-box">
                  <div class="image-box">
                      <div class="sale-tag">sale!</div>
                      <figure class="image"><a href="shop-single.html"><img
                                  src="assets/images/resource/products/5.jpg" alt=""></a></figure>
                      <div class="btn-box"><a href="shopping-cart.html">Add to cart</a></div>
                      <div class="rating"><span class="fa fa-star"></span><span
                              class="fa fa-star"></span><span class="fa fa-star"></span><span
                              class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                  </div>
                  <div class="lower-content">
                      <h4 class="name"><a href="shop-single.html">Security Camera BG45</a></h4>
                      <div class="price"> $30.00 - $35.00</div>
                  </div>
              </div>
          </div>

          <!-- Shop Item -->
          <div class="shop-item col-lg-3 col-md-6 col-sm-12">
              <div class="inner-box">
                  <div class="image-box">
                      <div class="sale-tag">sale!</div>
                      <figure class="image"><a href="shop-single.html"><img
                                  src="assets/images/resource/products/6.jpg" alt=""></a></figure>
                      <div class="btn-box"><a href="shopping-cart.html">Add to cart</a></div>
                      <div class="rating"><span class="fa fa-star"></span><span
                              class="fa fa-star"></span><span class="fa fa-star"></span><span
                              class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                  </div>
                  <div class="lower-content">
                      <h4 class="name"><a href="shop-single.html">Security Camera ZZ8</a></h4>
                      <div class="price"> <del>$205.00</del> - $193.00</div>
                  </div>
              </div>
          </div>

          <!-- Shop Item -->
          <div class="shop-item col-lg-3 col-md-6 col-sm-12">
              <div class="inner-box">
                  <div class="image-box">
                      <div class="sale-tag">sale!</div>
                      <figure class="image"><a href="shop-single.html"><img
                                  src="assets/images/resource/products/7.jpg" alt=""></a></figure>
                      <div class="btn-box"><a href="shopping-cart.html">Add to cart</a></div>
                      <div class="rating"><span class="fa fa-star"></span><span
                              class="fa fa-star"></span><span class="fa fa-star"></span><span
                              class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                  </div>
                  <div class="lower-content">
                      <h4 class="name"><a href="shop-single.html">Day Security Camera B2Z1</a></h4>
                      <div class="price"> $204.00</div>
                  </div>
              </div>
          </div>

          <!-- Shop Item -->
          <div class="shop-item col-lg-3 col-md-6 col-sm-12">
              <div class="inner-box">
                  <div class="image-box">
                      <div class="sale-tag">sale!</div>
                      <figure class="image"><a href="shop-single.html"><img
                                  src="assets/images/resource/products/8.jpg" alt=""></a></figure>
                      <div class="btn-box"><a href="shopping-cart.html">Add to cart</a></div>
                      <div class="rating"><span class="fa fa-star"></span><span
                              class="fa fa-star"></span><span class="fa fa-star"></span><span
                              class="fa fa-star"></span><span class="fa fa-star light"></span></div>
                  </div>
                  <div class="lower-content">
                      <h4 class="name"><a href="shop-single.html">Premium Security Cam VVZ</a></h4>
                      <div class="price"> $412.00</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End Our Shop -->


<!-- Callback Section -->
<section class="callback-section">
  <div class="cws-background-image" style="background-image: url(assets/images/background/5.png)"></div>
  <div class="auto-container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="sec-title">
                  <h2>Make Home Smart</h2>
                  <div class="text">We’re here to answer any questions you might have about living in a Smart
                      Home. We can also help you find an Ingenious partner in your area.</div>
              </div>

              <div class="default-form callback-form">
                  <form action="#" method="post" id="email-form">
                      <div class="form-group mb-0">
                          <div class="response"></div>
                      </div>

                      <div class="form-group">
                          <label> Your Name (required)</label>
                          <input type="text" name="username" class="username">
                      </div>

                      <div class="form-group">
                          <label>Email (required)</label>
                          <input type="email" name="email" class="email">
                      </div>

                      <div class="form-group">
                          <label>Message</label>
                          <textarea name="contact_message"></textarea>
                      </div>

                      <div class="form-group">
                          <button class="theme-btn btn-style-one bg-caribbean" type="button" id="submit"
                              name="submit-form">Send</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End Callback Section -->

<!--Clients Section-->
<section class="clients-section bg-purple">
  <div class="auto-container">
      <!--Sponsors carousel-->
      <ul class="sponsors-carousel owl-carousel owl-theme">
          <li class="slide-item">
              <figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure>
          </li>
          <li class="slide-item">
              <figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure>
          </li>
          <li class="slide-item">
              <figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure>
          </li>
          <li class="slide-item">
              <figure class="image-box"><a href="#"><img src="assets/images/clients/4.png" alt=""></a></figure>
          </li>
          <li class="slide-item">
              <figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure>
          </li>
          <li class="slide-item">
              <figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure>
          </li>
          <li class="slide-item">
              <figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure>
          </li>
          <li class="slide-item">
              <figure class="image-box"><a href="#"><img src="assets/images/clients/4.png" alt=""></a></figure>
          </li>
      </ul>
  </div>
</section>
<!--End Clients Section-->
