<footer class="main-footer" style="background-image: url(assets/images/background/6.jpg);">
  <div class="auto-container">
      <!--Widgets Section-->
      <div class="widgets-section">
          <div class="row">
              <!--Footer Column-->
              <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                  <div class="footer-widget about-widget">
                      <h4 class="widget-title">Home Haven Automation</h4>
                      <div class="widget-content">
                          <div class="text">Etiam id scelerisque est, vel scelerisque elit. Etiam vitae
                              consequat dui. Suspendisse in porta felis, a varius elit. Sed nec fringilla
                              mauris. Pellentesque habitant morbi.</div>
                      </div>
                  </div>
              </div>

            

              <!--Footer Column-->
              <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                  <div class="footer-widget contact-widget">
                      <h4 class="widget-title">OUR CONTACTS</h4>
                      <div class="widget-content">
                          <ul class="contact-list">
                              <li>
                                  <i class="far fa-envelope"></i>
                                  <a routerLink="0512305382">info&#64;homehaven.io</a>
                              </li>
                              <li>
                                  <i class="fa fa-phone"></i>
                                  <a routerLink="#">0512305382</a>
                              </li>
                              <li>
                                  <div class="social-icon">
                                      <a routerLink="#"><i class="fab fa-facebook-f"></i></a>
                                      <a routerLink="#"><i class="fab fa-twitter"></i></a>
                                      <a routerLink="#"><i class="fab fa-instagram"></i></a>
                                      <a routerLink="#"><i class="fab fa-linkedin-in"></i></a>
                                      <a routerLink="#"><i class="fa fa-signal"></i></a>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!--Footer Bottom-->
  <div class="footer-bottom">
      <div class="auto-container">
          <div class="copyright-text">
              <p><a routerLink="/">Home Haven Automation</a> </p>
          </div>
      </div>
  </div>
</footer>
