<!--Page Title-->
<section class="page-title">
  <!-- Background Layers -->
  <div class="background-layers">
    <div class="cws-image-bg" style="background-image: url(images/background/37.jpg)">
      <div class="cws-overlay-bg"></div>
    </div>
  </div>

  <div class="auto-container">
    <h1>Login</h1>
   
  </div>
</section>
<!--End Page Title-->

<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="showAlert" class="alert alert-dismissible fade show center-alert"
  [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
  {{ alertMessage }}
  <button type="button" class="btn-close" aria-label="Close" (click)="closePopupMsg()">X</button>
</div>

<!--Login Section-->
<!-- Login Section -->
<section class="login-section">
  <div class="auto-container">
    <div class="card">
     
      <div class="card-body">
        <!-- Login Form -->
        <form (ngSubmit)="onLogin()">
          <!-- Username/Email -->
          <div class="form-group">
            <label>Username or Email *</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username or email" [(ngModel)]="credentials.email" required>
          </div>

          <!-- Password -->
          <div class="form-group">
            <label>Password *</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password" [(ngModel)]="credentials.password" required>
          </div>

          <!-- Remember Me Checkbox -->
          <div class="form-group mt-2">
            <input type="checkbox" name="rememberMe" id="account-option-1">
            <label for="account-option-1">Remember me</label>
          </div>

          <!-- Submit Button -->
          <div class="form-group text-center mt-4">
            <input class="btn btn-primary btn-lg w-100" type="submit" name="submit-form" value="Log in">
          </div>

          <!-- Forgot Password & Register Link -->
          <div class="form-group text-center mt-3">
            <a href="#" class="psw">Lost your password?</a>
          </div>
          <div class="form-group text-center mt-2">
            <a routerLink="/register" class="psw">Don't have an account? Register here</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--End Login Section-->







