.card {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background: #198754;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background: #198754;
    border: none;
    padding: 10px;
  }
  
  .btn-primary:hover {
    background: #198754;
  }
  