<div class="page-wrapper">
    <!-- <div class="preloader">
      <div class="cws_loader">
          <span>LOADING...</span>
          <div class="hex"></div>
          <div class="hex"></div>
          <div class="hex"></div>
          <div class="hex"></div>
          <div class="hex"></div>
          <div class="hex"></div>
          <div class="hex"></div>
      </div>
  </div> -->
  
  <app-header></app-header>
  
  
    <router-outlet></router-outlet>
  
    <!-- Main Footer -->
  <app-footer></app-footer>
    <!-- End Main Footer -->
  
  </div>
  